@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

:root {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

/* --- 모바일 앱 환경 최적화 --- */
html,
body {
  /* 핀치 줌 방지 */
  touch-action: pan-x pan-y;

  /* 스크롤 바운스 방지 */
  overscroll-behavior: none;

  /* 텍스트 크기 자동 조정 방지 */
  -webkit-text-size-adjust: 100%;

  /* 모바일에서 꾹 눌렀을 때 파란색 하이라이트 제거 */
  -webkit-tap-highlight-color: transparent;
}
